body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default*/
input,
select,
textarea {
    max-width: 280px;
}

.alert {
    padding: 20px;
    background-color: #F00D00; /* #FF00DD #C000FE */
    color: black;
}

    .alert.success {
        background-color: #55AA55; /*010101011010101001010101*/
    }

    .alert.info {
        background-color: #00C0FE; /* #0DEAD0 #00DEAD #0BEEF0 #00BEEF*/
    }

    .alert.warning {
        background-color: #DEAD00 /* #C0FE00 #DEAD00 */;
    }

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}